<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="align-middle text-center ">
      <%= form.label :Title, class:"bg-warning text-bolder" %>
      <%= form.text_field :Title, class:"form-control-lg" %>
    </div>

    <div class="mt-3 text-center">
      <%= form.label :blog, class:"bg-warning text-bolder" %>
      <%= form.text_area :blog, class:"form-control-lg" %>
    </div>

    <div class="mt-3 text-center">
      <%= form.label :author, class:"bg-warning text-bolder" %>
      <%= form.text_field :author, class:"form-control-lg" %>
    </div>

    <div class="mt-3 text-center">
      <%= form.submit class:"btn btn-info" %>
    </div>
<% end %>
