<p id="notice"><%= notice %></p>
<div class="row">
<% @articles.each do |article| %>
<div class="col-sm-4">
  <div class="card mb-3" >
    <div class="card-body">
      <h5 class="card-title text-dark" style="font-weight: bolder;" >
        <%= article.Title %>
      </h5>
      <div class="card-text text-dark" style="background-color: rgb(180, 157, 175);">
        <%= article.blog.truncate(120) %>
        <%= article.author %>
      </div>
      <%= link_to 'Read More', article_path(article), class: "btn btn-info" %>
      <%# <%= link_to 'Show', article, class:'btn btn-info text-center' %>
      <%= link_to 'Edit', edit_article_path(article), class:'btn btn-info text-center mx-1'%>
      <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-info text-center' %>
    </div>
  </div>
</div>
<% end %>
</div>
