<p id="notice"><%= notice %></p>


<h1 class="text-center ">Write Your Views</h1>
<div class="container align-middle bg-light px-0">
<table class="table">
  <thead class="thead-dark text-center">
    <tr>
      <th scope="col text-light text-center">Title</th>
      <th scope="col text-light text-center">Author</th>
      <th scope="col text-light text-center">Actions</th>
    </tr>
  </thead>

  <tbody class="text-center">
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.Title %></td>
        <td><%= article.author %></td>
        <td class="w-25">
          <div class="d-flex flex-row w-100 justify-content-center px-3">
            <%= link_to 'Show', article, class:'text-center' %>
            <%= link_to 'Edit', edit_article_path(article), class:'mx-1'%>
            <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class:'text-center' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
