<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <p class="text-left ml-3">
    <strong>Title:</strong>
    <%= @article.Title%>
  </p>

  <div class="text-left ml-3">
    <strong>Blog:</strong>
    <br>
    <div class="text-left mr-2 bg-light p-2">
    <%= @article.blog %>
    </div>
  </div>

  <p class="text-left ml-3">
    <strong>Author:</strong>
    <%= @article.author %>
  </p>
</div>


<div class="text-center"><%= link_to 'Edit', edit_article_path(@article), class:"btn btn-info mr-1" %>

<%= link_to 'Back', articles_path, class:"btn btn-info" %></div>
